@font-face {
  font-family: "SCProMedium";
  src: url("fonts/SourceCodePro-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.ttf");
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  border-radius: 10px;
  margin: auto 5px;
  width: 15%;
}

img {
  width: 30%;
  height: 30%
}

/* ------------------  */
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  position: relative;
  background-size: cover;
  background-position: center;
}

#sprite {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 45%;
  top: 45%;
}

#response-area {
  font-family: "SCProMedium", Helvetica, sans-serif;
  height: 11vh;
  overflow:auto;
}

.content-area {
  height: 85vh;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* operator */
.circle {
  display: inline-block;
}

.circle-container {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* events */
.backdrop,
.location {
  box-shadow: 2px 8px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background: #FFF;
  font-weight: bold;
  padding: 5px 10px;
}

.img-btn,
.img-logo {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.img-logo {
  height: 60px;
  width: 60px;
}

