@font-face {
  font-family: "SCProMedium";
  src: url("SourceCodePro-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf");
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  border-radius: 10px;
  margin: auto 5px;
  width: 15%;
}

img {
  width: 30%;
  height: 30%
}

/* ------------------  */
#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  position: relative;
  background-size: cover;
  background-position: center;
}

#sprite {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 45%;
  top: 45%;
}

#responseArea {
  font-family: "SCProMedium", Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
}

/* operator */
.circle {
  display: inline-block;
}

.circleContainer {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* events */
.backdrop {
  box-shadow: 2px 8px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background: #FFF;
  font-weight: bold;
  padding: 5px 10px;
}

